/* MARGENES */
* {
  margin: 0px;
  padding: 0px; }

/* HEADER */
li {
  margin-right: 60px; }

/* COLOR HEADER */
nav {
  background-color: #f2f0eb; }

/* MENU */
.contenedorMenu {
  display: flex;
  margin-top: 40px; }

/* LOGO */
.logo {
  display: flex;
  margin-left: 30px; }

.menu {
  display: flex;
  margin-left: 50px;
  margin-top: 8px;
  text-decoration: none;
  color: #646464;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  list-style-type: none;
  /* SUMBMENU */ }
  .menu a {
    text-decoration: none;
    list-style: none;
    color: black; }
  .menu .submenu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #403838; }

ul {
  background-color: rgba(242, 240, 235, 0.678); }

ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  position: relative;
  font-size: 14px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block; }

/* TITULO Y SUBTITULO */
.header__titulo {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  line-height: 60px;
  color: #403838; }

.header__subtitulo {
  text-align: center;
  color: rgba(75, 64, 64, 0.678);
  line-height: 1px;
  font-size: 15px; }

/* FOOTER en todas las secciones */
.footer {
  background-image: url(../images/background.16.jpeg);
  display: flex;
  flex-direction: column; }
  .footer .footer__titulo {
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 40px;
    line-height: 60px;
    color: #403838; }
  .footer .footer__subtitulo {
    text-align: center;
    color: rgba(75, 64, 64, 0.76);
    line-height: 1px;
    font-size: 15px; }
  .footer .footer__pie {
    height: 200px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    justify-content: space-around; }
  .footer .contactanos {
    color: #403838;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline; }
  .footer .contactanos:hover {
    transform: scale(1.04); }
  .footer .email {
    color: #403838;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bolder; }
  .footer .mail {
    color: #403838;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bolder; }
  .footer .quienesSomos {
    color: #403838;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline; }
  .footer .quienesSomos:hover {
    transform: scale(1.04); }
  .footer .logoIg {
    display: flex; }
  .footer .logoIg:hover {
    transform: scale(1.1); }
  .footer h1 {
    color: rgba(64, 56, 56, 0.698);
    text-align: center;
    font-size: 40px; }

/* SECCION HOME */
/* CARRUSEL */
.sectionCarruselContainer {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%; }

/* IMAGENES EN HOME */
.seccionV {
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-image: url(../images/background.9.jpeg);
  /* PARRAFO EN IMAGEN */
  /* LINK A SECCION DE PRODUCTOS */
  /* TRANSICION EN TEXTO DE LINK A PRODUCTOS */ }
  .seccionV .imagenesContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.349); }
  .seccionV .imgV {
    display: flex;
    margin: 40px; }
  .seccionV .parrafoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.349);
    margin-top: 10px;
    margin-right: 30px; }
  .seccionV .nuevaLinea {
    font-size: 40px; }
  .seccionV .parrafoV {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px; }
  .seccionV .linkSeccionV {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 15px;
    color: #1b5544;
    transition: width 2s, height 2s; }
  .seccionV .linkSeccionV:hover {
    height: 0.5px;
    display: flex;
    justify-content: flex-end;
    color: cadetblue; }

/* SECCION DE CONTACTO/FORMULARIO */
.seccionFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/background.20.jpeg);
  height: 110px;
  margin-bottom: 10%; }
  .seccionFormContainer p {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Cormorant Garamond', serif;
    color: #1a1919; }
  .seccionFormContainer .botonOk {
    background-color: black;
    color: white; }
  .seccionFormContainer input {
    width: 150px;
    height: 30px; }

/* SECCION DESTACADOS */
.tituloDestacados {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  text-decoration: underline #7a6a6a 2px; }

.seccionDestacados, .cardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  /*MIXIN*/
  /* boton de cards */ }
  .seccionDestacados .cardDestacados, .cardsContainer .cardDestacados {
    width: 250px;
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px; }
  .seccionDestacados .cardDestacados:hover, .cardsContainer .cardDestacados:hover {
    color: rgba(160, 49, 118, 0.897); }
  .seccionDestacados .card-title, .cardsContainer .card-title {
    display: flex;
    justify-content: center; }
  .seccionDestacados a.button, .cardsContainer a.button, .seccionDestacados a.buttonP, .cardsContainer a.buttonP, .seccionDestacados a.boton, .cardsContainer a.boton {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.692);
    border: black; }
  .seccionDestacados a.button:hover, .cardsContainer a.button:hover, .seccionDestacados a.buttonP:hover, .cardsContainer a.buttonP:hover, .seccionDestacados a.boton:hover, .cardsContainer a.boton:hover {
    background-color: #665656;
    border: black; }

/*SECCION PROMOCIONES*/
/* CARRUSEL */
.sectionCarruselContainer {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%; }

/* IMAGENES EN HOME */
.seccionV {
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-image: url(../images/background.9.jpeg);
  /* PARRAFO EN IMAGEN */
  /* LINK A SECCION DE PRODUCTOS */
  /* TRANSICION EN TEXTO DE LINK A PRODUCTOS */ }
  .seccionV .imagenesContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.349); }
  .seccionV .imgV {
    display: flex;
    margin: 40px; }
  .seccionV .parrafoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.349);
    margin-top: 10px;
    margin-right: 30px; }
  .seccionV .nuevaLinea {
    font-size: 40px; }
  .seccionV .parrafoV {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px; }
  .seccionV .linkSeccionV {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 15px;
    color: #1b5544;
    transition: width 2s, height 2s; }
  .seccionV .linkSeccionV:hover {
    height: 0.5px;
    display: flex;
    justify-content: flex-end;
    color: cadetblue; }

/* SECCION DE CONTACTO/FORMULARIO */
.seccionFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/background.20.jpeg);
  height: 110px;
  margin-bottom: 10%; }
  .seccionFormContainer p {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Cormorant Garamond', serif;
    color: #1a1919; }
  .seccionFormContainer .botonOk {
    background-color: black;
    color: white; }
  .seccionFormContainer input {
    width: 150px;
    height: 30px; }

/* SECCION DESTACADOS */
.tituloDestacados {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  text-decoration: underline #7a6a6a 2px; }

.seccionDestacados, .cardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  /*MIXIN*/
  /* boton de cards */ }
  .seccionDestacados .cardDestacados, .cardsContainer .cardDestacados {
    width: 250px;
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px; }
  .seccionDestacados .cardDestacados:hover, .cardsContainer .cardDestacados:hover {
    color: rgba(160, 49, 118, 0.897); }
  .seccionDestacados .card-title, .cardsContainer .card-title {
    display: flex;
    justify-content: center; }
  .seccionDestacados a.button, .cardsContainer a.button, .seccionDestacados a.buttonP, .cardsContainer a.buttonP, .seccionDestacados a.boton, .cardsContainer a.boton {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.692);
    border: black; }
  .seccionDestacados a.button:hover, .cardsContainer a.button:hover, .seccionDestacados a.buttonP:hover, .cardsContainer a.buttonP:hover, .seccionDestacados a.boton:hover, .cardsContainer a.boton:hover {
    background-color: #665656;
    border: black; }

/* SECCION DE PROMOCIONES */
.sectionPromocionesContainer {
  display: grid;
  grid-template-columns: 400px 700px;
  column-gap: 5%;
  margin-left: 2%;
  margin-right: 2%; }
  .sectionPromocionesContainer .imgOfertas {
    margin-left: 2%;
    width: 400px; }

/*MIXIN*/
.cardsOfertasContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .cardsOfertasContainer .cardCombo {
    margin: 10px;
    width: 200;
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px; }
  .cardsOfertasContainer .card-title {
    color: #5e4f15; }

/* SECCION EN PROMOCIONES 2 */
.sectionPromocionesContainer2 {
  display: grid;
  grid-template-columns: 700px 400px;
  column-gap: 5%;
  margin-left: 2%; }
  .sectionPromocionesContainer2 .imgOfertas2 {
    width: 400px;
    margin-left: 60px; }

.cardsOfertasContainer2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .cardsOfertasContainer2 .cardCombo2 {
    margin: 10px;
    width: 200;
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px; }

/* TEXTO EN PROMOCIONES */
.tituloOfertas {
  color: rgba(100, 100, 100, 0.911);
  font-weight: bold;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center; }

.subtituloOfertas {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #646464; }

/* LINKS EN PROMOCIONES */
.linksP {
  background-color: rgba(217, 171, 154, 0.137);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px; }

.infoLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px; }

.linkPr {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: black; }

.linkC {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: black;
  margin-bottom: 20px; }

/*SECCION PRODUCTOS*/
/* CARRUSEL */
.sectionCarruselContainer {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%; }

/* IMAGENES EN HOME */
.seccionV {
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 6%;
  margin-bottom: 6%;
  background-image: url(../images/background.9.jpeg);
  /* PARRAFO EN IMAGEN */
  /* LINK A SECCION DE PRODUCTOS */
  /* TRANSICION EN TEXTO DE LINK A PRODUCTOS */ }
  .seccionV .imagenesContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.349); }
  .seccionV .imgV {
    display: flex;
    margin: 40px; }
  .seccionV .parrafoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.349);
    margin-top: 10px;
    margin-right: 30px; }
  .seccionV .nuevaLinea {
    font-size: 40px; }
  .seccionV .parrafoV {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px; }
  .seccionV .linkSeccionV {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 15px;
    color: #1b5544;
    transition: width 2s, height 2s; }
  .seccionV .linkSeccionV:hover {
    height: 0.5px;
    display: flex;
    justify-content: flex-end;
    color: cadetblue; }

/* SECCION DE CONTACTO/FORMULARIO */
.seccionFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/background.20.jpeg);
  height: 110px;
  margin-bottom: 10%; }
  .seccionFormContainer p {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Cormorant Garamond', serif;
    color: #1a1919; }
  .seccionFormContainer .botonOk {
    background-color: black;
    color: white; }
  .seccionFormContainer input {
    width: 150px;
    height: 30px; }

/* SECCION DESTACADOS */
.tituloDestacados {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  text-decoration: underline #7a6a6a 2px; }

.seccionDestacados, .cardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  /*MIXIN*/
  /* boton de cards */ }
  .seccionDestacados .cardDestacados, .cardsContainer .cardDestacados {
    width: 250px;
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px; }
  .seccionDestacados .cardDestacados:hover, .cardsContainer .cardDestacados:hover {
    color: rgba(160, 49, 118, 0.897); }
  .seccionDestacados .card-title, .cardsContainer .card-title {
    display: flex;
    justify-content: center; }
  .seccionDestacados a.button, .cardsContainer a.button, .seccionDestacados a.buttonP, .cardsContainer a.buttonP, .seccionDestacados a.boton, .cardsContainer a.boton {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.692);
    border: black; }
  .seccionDestacados a.button:hover, .cardsContainer a.button:hover, .seccionDestacados a.buttonP:hover, .cardsContainer a.buttonP:hover, .seccionDestacados a.boton:hover, .cardsContainer a.boton:hover {
    background-color: #665656;
    border: black; }

/* SECCION PRODUCTOS */
.productosContainer {
  margin-top: 10px;
  padding: 20px;
  margin-right: 1%;
  margin-left: 1%; }
  .productosContainer div.infoContainerP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px; }
    .productosContainer div.infoContainerP p {
      margin-top: 30px;
      font-size: 20px;
      color: aliceblue; }

.cardsContainer {
  /* EXTENDS */
  /*MIXIN*/ }
  .cardsContainer .cardCosmeticos {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardSuplementos {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardFragancias {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardHigiene {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardAromat {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardCombos {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .cardLineas {
    width: 200;
    border: solid 1px rgba(102, 86, 86, 0.712);
    padding: 5px; }
  .cardsContainer .card-title {
    display: flex;
    justify-content: center; }
  .cardsContainer .card-title:hover {
    color: rgba(160, 49, 118, 0.897); }

/* boton de cards */
/* EXTENDS */
a.button:hover, a.buttonP:hover, a.boton:hover {
  background-color: #665656;
  border: black; }

/*BUCLES*/
.seccion1 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion2 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion3 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion4 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion5 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion6 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion7 {
  display: flex;
  flex-direction: column;
  background-color: #BFADA8; }

.seccion8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BFADA8;
  margin-left: 20%;
  margin-right: 20%; }
  .seccion8 .titulosP:hover {
    color: aliceblue; }

.productosImg {
  display: flex;
  align-items: center; }

.parrafoProduc {
  margin-top: 30px;
  font-size: 20px;
  color: #17191a; }

/*SECCION CONTACTO*/
/* SECCION CONTACTO */
.contacto {
  /* aplicamos grid */
  display: grid;
  background-image: url(../images/background.12.jpeg);
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%; }

.tituloContacto {
  grid-column: 1 / span 2;
  font-size: 40px;
  font-weight: bolder; }

.contactoP {
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif; }

.imagContacto {
  display: flex;
  margin: 10%;
  justify-content: center; }

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 10%; }

/*SECCION ACERCA DE*/
/* SECCION SOBRE BIOESENCIA Y SOBRE NOSOTRAS */
.acercade {
  display: flex;
  flex-direction: column; }

.acercade__titulo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 50px; }

.acercade__Container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 1%;
  background-color: #f2f0eb; }

.acercade__Bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 30px; }

.sobreNosotras {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: #f2f0eb; }

.tituloSobreNosotras {
  display: flex;
  margin-left: 3%;
  font-family: 'Parisienne', cursive;
  font-size: 30px; }

.parrafoSobreNosotras {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px; }

.imagenSobreNosotras {
  display: flex; }

/*VARIABLES*/
/* COLOR DEL BODY COMPLETO */
body {
  background-color: #D2D6D9;
  font-family: 'Times New Roman', Times, serif; }
  body p {
    color: #403838; }

/* QUERYS MOBILE HOME */
/* MENU MOBILE */
@media only screen and (min-width: 370px) and (max-width: 960px) {
  .contenedorMenu {
    display: none; } }

@media only screen and (min-width: 960px) {
  .menu-mobile {
    display: none; } }

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative; }

.topnav #myLinks {
  display: none; }

.topnav a {
  color: #201d1d;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; }

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0%;
  padding: 0%; }

.topnav a:hover {
  background-color: #f2f0eb;
  color: white; }

.active {
  background-color: #f2f0eb;
  color: black; }

@media screen and (max-width: 960px) {
  .logo {
    display: none; }
  .sectionCarruselContainer {
    width: 350px;
    margin-left: 10px; }
  .imagenesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .seccionV {
    display: flex;
    flex-direction: column; }
  .imgV {
    display: flex;
    width: 350px; }
  .parrafoContainer {
    display: flex;
    margin-left: 5%;
    border: solid;
    background-color: rgba(243, 242, 239, 0.479); }
  .nuevaLinea {
    display: flex;
    margin-left: 50px; }
  .parrafoV {
    font-size: 15px;
    color: black;
    margin-left: 5px;
    margin-bottom: 5px; }
  .linkSeccionV {
    display: flex;
    justify-content: center;
    color: #114646;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 5px; }
  .seccionFormContainer {
    display: flex;
    justify-content: center;
    align-items: center; }
  .tituloForm {
    display: flex;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 25px; }
  .form {
    display: flex;
    align-items: center; }
  .botonOk {
    width: 40px; }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .seccionDestacados, .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cardDestacados {
    border: solid 1px rgba(223, 132, 177, 0.849);
    padding: 5px;
    margin: 10px;
    width: 250px; }
  .card-title {
    display: flex;
    justify-content: center; }
  a.button, a.buttonP, a.boton {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
  .footer {
    display: flex;
    align-items: center; }
  .footer__pie {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .email {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* SECCION ACERCA DE */
  .acercade {
    display: flex; }
    .acercade .acercade__titulo {
      display: flex;
      justify-content: center;
      align-items: center; }
  .acercade__Container {
    display: flex;
    flex-direction: column; }
  .acercade__imagen, .imagenSobreNosotras {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 15px; }
  .acercade__Bio {
    font-size: 20px; }
  .sobreNosotras {
    display: flex;
    flex-direction: column; }
  .tituloSobreNosotras {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* SECCION PRODUCTOS */
  .productosContainer {
    display: flex;
    flex-direction: column; }
  .productosImg {
    width: 380px; }
  .parrafoProduc {
    display: none; }
  .seccion8 {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center; }
    .seccion8 .titulosP {
      display: none; }
  /* SECCION PROMOCIONES */
  .sectionCompletaPromociones {
    display: flex;
    flex-direction: column; }
    .sectionCompletaPromociones .tituloOfertas {
      display: flex;
      justify-content: center;
      align-items: center; }
    .sectionCompletaPromociones .subtituloOfertas {
      font-size: 15px; }
  .cardsOfertasContainer {
    display: none; }
  .sectionPromocionesContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px; }
  .cardCombo2 {
    display: none; }
  .linkP {
    display: flex; }
    .linkP .infoLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px; }
  /* SECCION CONTACTO */
  .contacto {
    display: grid; }
    .contacto .tituloContacto {
      font-size: 20px;
      display: flex; }
    .contacto .imagContacto {
      display: none; }
    .contacto .infoContainer {
      background-color: #D2D6D9; } }
